<!DOCTYPE html>
<html>

	<head>
		<title>
			Slack page
		</title>
		<meta charset='utf-8' />

        <link rel="apple-touch-icon" sizes="180x180" href="/public/fav/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/public/fav/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/public/fav/favicon-16x16.png">
		<link rel="manifest" href="/public/fav/site.webmanifest">
		<link rel="mask-icon" href="/public/fav/safari-pinned-tab.svg" color="#5bbad5">
		<meta name="msapplication-TileColor" content="#da532c">
		<meta name="theme-color" content="#ffffff">

		<link href='css/normalize.css' rel='stylesheet' />

		<link href='css/slack.css' rel='stylesheet' />
	
        <meta name="viewport" content="viewport-fit=cover, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    </head>

	<body>
		<div class="page">
            <section class="page_section">
                <div class="page_content hero_section">
                    
                    <div class="hero">
                        <div class="hero_content">
                            <span class="hero_label">Slack Features</span>
                            <h1 class="hero_title">One platform for your team and your work</h1>
                            <p class="hero_info double_line">All the features of Slack work together so you can, too.</p>
                            <div class="hero_buttons">
                                <a href="#" class="button button_primary click">Try for free</a>  
                                <a href="#" class="button button_secondary click">See all features</a>  
                            </div>
                            <img src="/img/hero.png" alt="Hero" class="hero_image">

                        </div>
                    </div>

                    <div class="brands">
                        <img src="/img/brands/airbnb.png" alt="airbnb" class="brands">
                        <img src="/img/brands/intuit.png" alt="intuit" class="brands">
                        <img src="/img/brands/newscorp.png" alt="newscorp" class="brands">
                        <img src="/img/brands/onemedical.png" alt="onemedical" class="brands">
                        <img src="/img/brands/sonos.png" alt="sonos" class="brands">
                        <img src="/img/brands/target.png" alt="target" class="brands">
                        <img src="/img/brands/uber.png" alt="uber" class="brands">
                        <img src="/img/brands/va.png" alt="va" class="brands">
                    </div>
                </div>
            </section>  

            <section class="page_section page_section_light">  
                <div class="page_content features_section">
                    {{!-- <img src="/img/features.png" alt="Features" class="features_image"> --}}
                    <h2 class="features_title">Work more easily with everyone</h2>
                    <p class="features_description double_line">Stay on the same page and make 
                        decision faster by bringing all of your work communication into one place.</p>
                        
                        <div class="features_grid_4">

                            <div class="feat_card">
                                <span class="icon feat_icon" style="background-image: url('/svg/feature/connect.svg');"></span>
                                <strong>Slack Connect</strong>
                                <p class="double_line">Collaborate with teams at other
                                    companies the same way you do with teams at you own.</p>
                                <a href="#" class="icon icon_arrow_right click feat_link"></a>    
                            </div>

                            <div class="feat_card">
                                <span class="icon feat_icon" style="background-image: url('/svg/feature/chanels.svg');"></span>
                                <strong class="feat_card_title">Chanels</strong>
                                <a href="#" class="icon icon_arrow_right click feat_link"></a>    
                            </div>

                            <div class="feat_card">
                                <span class="icon feat_icon" style="background-image: url('/svg/feature/huddles.svg');"></span>
                                <strong class="feat_card_title">Huddles</strong>
                                <a href="#" class="icon icon_arrow_right click feat_link"></a>    
                            </div>

                             <div class="feat_card">
                                <span class="icon feat_icon" style="background-image: url('/svg/feature/clips.svg');"></span>
                                <strong class="feat_card_title">Clips</strong>
                                <a href="#" class="icon icon_arrow_right click feat_link"></a>    
                            </div>

                            <div class="feat_card">
                                <span class="icon feat_icon" style="background-image: url('/svg/feature/canvas.svg');"></span>
                                <strong class="feat_card_title">Canvas</strong>
                                <a href="#" class="icon icon_arrow_right click feat_link"></a>    
                            </div>                          

                            <div class="feat_card">
                                <span class="icon feat_icon" style="background-image: url('/svg/feature/messaging.svg');"></span>
                                <strong class="feat_card_title">Messaging</strong>
                                <a href="#" class="icon icon_arrow_right click feat_link"></a>    
                            </div>                         

                            <div class="feat_card">
                                <span class="icon feat_icon" style="background-image: url('/svg/feature/accessibility.svg');"></span>
                                <strong class="feat_card_title">Accessibility</strong>
                                <a href="#" class="icon icon_arrow_right click feat_link"></a>    
                            </div>
                        </div>

                {{!-- ////////////////////////////// tail --}}
                    <div class="page_content tail_section tail">
                        {{!-- <img src="/img/tail.png" alt="Tail" class="features_tail_image"> --}}
                        <h2 class="tail_title">What you need, when you need it</h2>
                        <p class="tail_description double_line">Spend less time shuffling tabs with a comprehensive 
                            message archive and all your work tools at your fingertips.</p>
                        
                        <div class="features_grid_4"> 
                            <div class="tail_card_1"></div>

                            <div class="feat_card tail_card_2">
                                <span class="icon feat_icon" style="background-image: url('/svg/feature/apps.svg');"></span>
                                <strong>Apps and Integrations</strong>
                                <p class="double_line">Streamline work by connecting Slack with other services 
                                        like Google Drive, Office 365 and over 2,200 more.</p>
                                <a href="#" class="icon icon_arrow_right click feat_link"></a>    
                            </div>

                            <div class="feat_card tail_card_3">
                                <span class="icon feat_icon" style="background-image: url('/svg/feature/workflow.svg');"></span>
                                <strong>Workflow Builder</strong>
                                <p class="double_line">Automate routine actions and communication, so you can get
                                    back to the kind of work only humans can do.</p>
                                <a href="#" class="icon icon_arrow_right click feat_link"></a>    
                            </div>

                            <div class="feat_card tail_card_4">
                                <span class="icon feat_icon" style="background-image: url('/svg/feature/search.svg');"></span>
                                <strong>Search</strong>
                                <a href="#" class="icon icon_arrow_right click feat_link"></a>    
                            </div>

                            <div class="feat_card tail_card_5">
                                <span class="icon feat_icon" style="background-image: url('/svg/feature/sharing.svg');"></span>
                                <strong>File sharing</strong>
                                <a href="#" class="icon icon_arrow_right click feat_link"></a>    
                            </div>
                        </div> 
                    </div> 

                </div>
            </section>

            <section class="customer">
                                    
                    <img src="/img/deliveroo.png" alt="Deliveroo" class="customer_image">
                     
                    <div class="customer_info">
                        <h2 class="customer_title double_line">“The thing that keeps us connected the most is Slack. It’s a very immediate 
                            and straightforward method of communication, and really the only channel that people prefer and 
                            enjoy using.”</h2>
                        <img src="/img/deliverooLogo.png" alt="DeliverooLogo" class="features_image">    
                        <p class="features_description">Will Sprunt, CIO, Deliveroo</p>
                    </div>
                
            </section>

            <selection class="content">
                <h2 class="features_title content_title">Explore more about working in Slack</h2>

                <div class="content_grid_3">  

                    <div class="feat_card">
                        <img class="icon" style="background-image: url('/img/content/slack101.png');">
                        <label>Slack Tutorials</label>
                        <strong class="feat_card_title">Slack 1001</strong>
                        <div class="content_link">
                            <a href="#" class="icon click feat_link">LEARN MORE</a> 
                            <a href="#" class="icon icon_arrow_blue click feat_link"></a>
                        </div>   
                    </div>

                    <div class="feat_card">
                        <img class="icon " style="background-image: url('/img/content/slackvsemail.png');">
                        <label>Slack vs. Email</label>
                        <strong class="feat_card_title">An easier, more organized way to work</strong>
                        <div class="content_link">
                            <a href="#" class="icon click feat_link">LEARN MORE</a> 
                            <a href="#" class="icon icon_arrow_blue click feat_link"></a>
                        </div>    
                    </div>

                    <div class="feat_card">
                        <img class="icon " style="background-image: url('/img/content/sharedcustomers.png');">
                        <label>Customer Stories</label>
                        <strong class="feat_card_title">How Fastly uses Slack Connect to wow enterprise customers</strong>
                        <div class="content_link">
                            <a href="#" class="icon click feat_link">LEARN MORE</a> 
                            <a href="#" class="icon icon_arrow_blue click feat_link"></a>
                        </div>                      
                    </div>
                </div>

            </selection>
		</div>
		
	</body>

</html>
